
**/.env

framework/vendor/
storage/apps/*
storage/cache/*
storage/logs/*
storage/temp/*
www-web/admin/static/packages/*

# exception to the rule
!storage/.gitkeep
!storage/apps/.gitkeep
!storage/cache/.gitkeep
!storage/logs/.gitkeep
!storage/temp/.gitkeep
!www-web/admin/static/packages/.gitkeep
